@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    box-sizing: border-box;
    font-color:black;
}

body{
    /* background-image: url("../images/target.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .8; */
}

input,
select {
    height: 40px;
    border-bottom:1px solid black !important;
    border: none;

}

input:focus,select:focus{
    border-bottom: 1px solid lightseagreen !important;
        outline: none !important;
}

input[type=radio] {
    height: 3em;
}
#div_form{
    /* opacity: .8; */
        border-radius: 20px;
}

footer {
    background: rgb(31, 108, 184);
    /* background: linear-gradient(143deg, rgb(71, 103, 134) 0%, rgba(173, 201, 190, 0.9416141456582633) 56%); */
    font-size: 20px;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}